<h1 class="text-center m-5 border-bottom p-1">書籍編集</h1>
<%= form_with model: @book,url:book_path,local: true do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <%= f.file_field :book_image, accept: "image/*" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <%= f.text_field :name, autocomplete: "name", class:"form-control",placeholder: 'タイトル' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-9">
        <%= f.text_area :introduction,:size => "30x5", class: "form-control",placeholder: '紹介文' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <p>評価</p>
      </div>
      <div class="col-4">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4 text-right">
        <%= f.submit ' 完了 ', class: "btn btn-success" %>
      </div>
      <div class="col-4 text-center">
        <%= f.submit ' 削除 ',method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>
