<div class="container">
  <div class ="row">
    <h1 class="col-xs-2 col-sm-5 col-md-5 text-center m-5 border-bottom p-1">人気一覧</h1>
    <div class="col-xs-6 col-sm-7 col-md-5 mt-5">
      <%= render "public/searches/search-btn" %>
    </div>
  </div>
  <div class="row mt-3">
    <% @ranks.each do |rank| %>
      <div class ="load-fade col-xs-4 col-sm-3 col-md-2 mr-2 mt-2  text-center img-thumbnail">
        <p><%= rank.name %></p>
        <p><%= image_tag rank.get_book_image(100,100), class: "mx-auto d-block img-fluid" %></p>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h1 class ="col-xs-2 col-sm-5 col-md-5 border-bottom text-center m-5 p-1">書籍一覧</h1>
  </div>
  <div class=" row">
    <% @books.each do|book| %>
      <div class="load-fade col-xs-2 col-sm-3 col-md-3 img-thumbnail mt-2 mr-2">
        <%= link_to book_path(book) do %>
          <p class="text-center"><%= book.name %></p>
          <p class="mx-auto d-block"><%= image_tag book.get_book_image(100,100), class: "mx-auto d-block img-fluid" %></p>
        <% end %>
          <p>投稿者:
          <%= link_to user_path(book.user.id) do %>
            <%= book.user.family_name %>
          <% end %>
          </p>
        <div id="favorite_buttons_<%= book.id %>">
          <%= render "public/favorites/favorite", book: book %>
        </div>
        <div id="star-rate<%= book.id %>">
        <script>
          $('#star-rate<%= book.id %>').empty();
          $('#star-rate<%= book.id%>').raty({
             size      : 36,
             starOff   : '<%= asset_path('star-off.png') %>',
             starOn    : '<%= asset_path('star-on.png') %>',
             half      : false,
             readOnly: true,
             score: <%= book.star %>,
           });
         </script>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-5 mx-auto">
    <div class="col-xs-4 col-sm-4 col-md-4 mx-auto">
      <%= paginate @books %>
    </div>
  </div>
</div>