<h1 class="text-center m-5 border-bottom p-1">書籍登録</h1>
<div class="container">
  <% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_with model: @book,url:books_path, local: true do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <%= f.file_field :book_image, accept: "image/*" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xs-4 col-sm-6 col-md-4">
        <%= f.text_field :name, autocomplete: "name", class:"form-control",placeholder: 'タイトル' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xs-9 col-sm-12 col-md-9">
        <%= f.text_area :introduction,:size => "30x5", class: "form-control",placeholder: '紹介文' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xs-6 col-sm-12 col-md-6">
        <%= f.label :star,'評価 ', class:'col-3 col-form-label' %>
      </div>
    </div>
    <div class="row" id="star">
      <%= f.hidden_field :star, id: :review_star %>
    </div>
　　</div>
    <div="row mt-5">
      <div class="col text-center">
        <%= f.submit ' 新規登録 ', class: "btn btn-success" %>
      </div>
    </div>
    <script>
　　　　$('#star').empty();
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
   　 　　　scoreName: 'book[star]',
      half: false,
    });
    </script>
<% end %>