<h1 class="text-center m-5 border-bottom p-1">会員編集</h1>
<%= form_with model: @user, local: true do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-6">
      </div>
      <div class="col-6">
        <%= f.file_field :image, accept: "image/*" %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xs-2 col-sm-2 col-md-3">
        <%= f.label :氏名 %>
      </div>
      <div class ="col-xs-3 col-sm-4 col-md-4">
        <%= f.text_field :family_name, autofocus: true, autocomplete: "name", class:"form-control",placeholder: '氏' %>
      </div>
      <div class ="col-xs-3 col-sm-4 col-md-4 mt-2">
        <%= f.text_field :first_name, autocomplete: "name",  class:"form-control",placeholder: '名' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xs-4 col-sm-4 col-md-3">
        <%= f.label :メールアドレス %>
      </div>
      <div class ="col-xs-6 col-sm-8 col-md-6">
        <%= f.text_field :email, autocomplete: "email",  class:"form-control",placeholder: 'アドレス' %>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-3">
        <%= f.label :紹介 %>
      </div>
    </div>
    <div class ="row mt-3">
      <div class="col-xs-9 col-sm-9 col-md-9">
        <%= f.text_area :introduction,:size => "30x5", class: "form-control",placeholder: '紹介文' %>
      </div>
    </div>
    <div class ="row mt-5">
      <div class="col-xs-2 col-sm-3 col-md-3 text-center">
        <%= link_to '戻る', books_path, class: "btn" %>
      </div>
      <div class="col-xs-3 col-sm-4 col-md-4 text-center mt-2">
        <%= f.submit ' 確定する ', class: "btn btn-success" %>
      </div>
      <div class="col-xs-3 col-sm-4 col-md-4 text-center mt-2">
        <%= link_to ' 退会する ', users_withdraw_path(@user),method: :patch,data: {confirm: "本当に消しますか？"}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
<% end %>