<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>LearningBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main <%= controller.controller_name %> h-100">
    <%= render 'layouts/header' %>
    <div class="index row h-100">
      <% if user_signed_in? %>
      <div class ="col-2 h-100">
        <%= render 'layouts/sidebar' %>
      </div>
      <% end %>
      <div class="mx-auto col-10 h-100">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
