<!DOCTYPE html>
<html>
  <head>
    <title>LearningBooks</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main <%= controller.controller_name %>">
    <% if current_page?(root_path) %>
      <div id="splash">
        <div id="splash_logo"><%= image_tag 'top-logo.png', class: "fadeUp mx-auto d-block img-fluid" %></div>
      </div>
    <% end %>
    <%= render 'layouts/header' %>
    <div class="index">
      <% if user_signed_in? %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <div class="main-index">
        <%= yield %>
        <% if user_signed_in? %>
          <span id="back">
            <a href="">
              <%= image_tag asset_path('top.png'), data: {"turbolinks"=>false}, class: "top" %>
            </a>
          </span>
        <% end %>
      </div>
    </div>
  </body>
</html>
